body {
    background-image: url('leaves.png');
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.footer {
    color: darkgray;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}